.block {
   position: relative;
background: url('../img/фон.png') no-repeat;
width: 100%;
height: 820px;
}
.block__titel {
   height: 820px;
   position: relative;
}
.titel__many {
   max-width: 1090px;
   margin: 0 auto;
   padding: 260px 0 0 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.titel__many h1{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
font-weight: 300;
font-size: 30px;
text-transform: uppercase;
color: #fff;
}
.titel__many span{
   font-weight: 600;
font-size: 56px;
text-transform: uppercase;
color: #4f8ff0;
margin: 34.04px 0 28px 0;
}
.titel__many p{
   font-weight: 400;
font-size: 20px;
line-height: 120%;
letter-spacing: 1px;
text-align: center;
color: #fff;
}
.blue__btn {
   margin-top: 48px;
   border: 2px solid #4f8ff0;
   width: 158px;
   background: #4f8ff0;
color: #fff;
transition: 0.3s;
}
.btn {
   padding: 16px 24px;
   height: 49px;
   font-weight: 500;
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
}
.blue__btn:hover{
   background: #fff;
   color: #4f8ff0;
   transition: 0.3s;
}
.title__elementssvg {
   position: absolute;
   bottom: 36px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}