.block1 {
   position: relative;
   background: #f7f7f7;
   z-index: 11;
/* height: 960px; */
height: 100%;

max-height: 1300px;
}

.block1__box {
   position: relative;
   padding: 75px 0 80px 0;
   /* top: 75px; */
   color: #222;
}
.box__titel {
   position: relative;
   margin: 0 auto;
   max-width: 920px;
}
.box__titel h2{
   font-weight: 800;
   height: 55px;
   font-size: 28px;
   line-height: 150%;
   text-transform: uppercase;
   text-align: center;
}
.titel__underline {
   position: relative;
   top: 55px;
   width: 50px;
   height: 3px;
   margin: 0 auto;
   background-color: #4f8ff0;
}
.box__titel p{
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   text-align: center;
   margin-top: 24px;
}
.greed {
   margin: 48px 0;
}
.greed__services {
   display: grid;
   row-gap: 38px;
   column-gap: 24px;
   grid-template-columns: repeat(auto-fit,minmax(424px,1fr));
}
.services__link {
}
.ingo__triangle {
   --s: 35px; /* the size on the corner */
   --t: 1px;  /* the thickness of the border */
   --g: 1px; /* the gap between the border and image */
   
   padding: calc(var(--g) + var(--t));
   outline: var(--t) solid #fff; /* the color here */
   outline-offset: calc(-1*var(--t));
   mask:
   conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
   0 0/calc(100% - var(--s)) calc(100% - var(--s)),
   linear-gradient(#000 0 0) content-box;
   transition: .4s;
   width:100%; 
   height: 100%;

   position: absolute;
   top: 0;
   left: 0;
   transition: 0.3s;
}
.info__ingo {
   position: relative;
   top: 25px;
   bottom: 20px;
   max-width: 372px;
   max-height: 210px;
   margin: 0 auto ;
   padding: 30px 11px 38px;
}
.link__info {
   position: relative;
width: 100%;
min-height: 215px;
height: 250px;
background: #fff;
}
.link__info a{
   color: #222;
}
.link__info a:hover{
   color: #fff;
}
.link__info:hover{
   background: #4f8ff0;
   transition: 0.3s;
}

.link__info:hover svg path{
   fill:#fff;
   transition: 0.3s;
}
.svgdi__svgpath {
   width:36px; 
   height: 35px;
   margin: 0 auto;
}
.info__svgdi {
   width: 100%;
}
.link__info h3{
   margin: 15px 0 13px 0;
   font-weight: 800;
font-size: 20px;
line-height: 150%;
text-align: center;
}
.link__info p{
   font-weight: 400;
font-size: 14px;
line-height: 120%;
text-align: center;
}
.linil__btn {
      display: flex;
   justify-content: center;
   align-items: center;
}
.blue2__btn {
   margin: 0 auto;
   width: 138px;
   color: #fff;
   border: 2px solid #4f8ff0;
   background: #4f8ff0;
   font-weight: 500;
   font-size: 13px;
}
.blue2__btn:hover{
   background: #fff;
   color: #4f8ff0;
   transition: 0.3s;
}